:root {
  --primary-blue: rgba(33, 150, 243, 1);
  --primary-blue-active: rgba(24, 140, 232, 1);

  --bg-black: rgba(47, 48, 58, 1);
  --bg-sect-white: rgba(245, 244, 250, 1);

  --hdr-text-black: rgba(33, 33, 33, 1);
  --primary-white: rgba(255, 255, 255, 1);
  --main-text-grey: rgba(117, 117, 117, 1);
  --ftr-text-grey-op60: rgba(255, 255, 255, 0.6);
  --social-icons: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.pretitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}

/* section hero */

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 600px;
  text-align: center;
}

.hero__overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
  display: block;
}

.hero__btn {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid var(--primary-blue);
  outline: none;
  transition: box-shadow 250ms var(--timing-function);
}

.hero__btn:hover,
.hero__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* advantages */

.advantages__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.advantages__item {
  width: calc(100% / 4);
  margin-right: 30px;
}

.advantages__item:last-child {
  margin-right: 0px;
}

.advantages__pretitle {
  margin-bottom: 10px;
}

.advantages__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-grey);
}

.advantages__thumb {
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-sect-white);
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

/* task */

.task__list {
  display: flex;
  padding: 0;
}

.task__item {
  width: calc(100% / 3);
  margin-right: 30px;
}

.task__item:last-child {
  margin-right: 0px;
}

.task {
  padding-bottom: 94px;
}

.task__name {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white);
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}

.task__thumb {
  position: relative;
}

/* team */

.team {
  background-color: var(--bg-sect-white);
}

.team__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__thumb {
  padding: 30px 32px;
}

.team__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.team__item {
  width: calc(100% / 4);
  margin-right: 30px;
  background-color: var(--primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-right: 0;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-grey);
}

.icon__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 16px;
}

.icon__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  border-radius: 50%;
  fill: var(--social-icons);
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.icon__link:hover,
.icon__link:focus {
  background: var(--primary-blue);
  fill: var(--primary-white);
}

/* section clients */

.client__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__list {
  display: flex;
  justify-content: space-between;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-icons);
  border-radius: 4px;
  fill: var(--social-icons);
  transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.client__link:hover,
.client__link:focus {
  border: 1px solid var(--primary-blue);
  fill: var(--primary-blue);
}

/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__is-hidden--modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
  padding: 40px;
  width: 528px;
  height: 581px;

  background-color: var(--primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.icon__close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--primary-white);
  fill: currentColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  transition: fill 250ms var(--timing-function);
}

.icon__close:hover,
.icon__close:focus {
  fill: var(--primary-blue);
}

.form-modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hdr-text-black);
}

.form-modal__label {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-grey);
}

.form-modal__input {
  width: 100%;
  padding: 11px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.form-modal__input:focus {
  border-color: var(--primary-blue);
  outline: none;
}

.form-modal__input:focus + .form-modal__icon {
  fill: var(--primary-blue);
}

.form-modal__input:hover {
  border-color: var(--primary-blue);
  outline: none;
}

.form-modal__input:hover + .form-modal__icon {
  fill: var(--primary-blue);
}

.form-modal__wrap {
  position: relative;
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.form-modal__comment {
  width: 100%;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.form-modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment:focus {
  border-color: var(--primary-blue);
  outline: none;
}

.form-modal__comment:hover {
  border-color: var(--primary-blue);
  outline: none;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.checkbox__icon {
  /* position: absolute;
  top: 50%;
  left: 0; */
  border: 2px solid var(--hdr-text-black);
  background: var(--primary-white);
  margin-left: 12px;
  margin-right: 8px;
  border-radius: 2px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

.checkbox__text {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-grey);
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__link {
  color: var(--primary-blue);
  text-decoration: underline;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--primary-blue);
  border-color: transparent;
}

.checkbox__input:focus + .checkbox__icon {
  border: 2px solid var(--primary-blue);
}

.form-modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  padding: 10px 56px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border-radius: 4px;
  border: 1px solid var(--primary-blue);
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.form-modal__btn:hover,
.form-modal__btn:focus {
  background-color: var(--primary-blue-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* спрятать чекбокс для разных браузеров, кроме интренет эксплорер */

/* .checkbox {
  position: absolute;
  appearance: none;
} */

/* спрятать чекбокс для разных браузеров */
