:root {
  --primary-blue: rgba(33, 150, 243, 1);
  --bg-black: rgba(47, 48, 58, 1);
  --bg-sect-white: rgba(245, 244, 250, 1);

  --hdr-text-black: rgba(33, 33, 33, 1);
  --primary-white: rgba(255, 255, 255, 1);
  --main-text-grey: rgba(117, 117, 117, 1);
  --ftr-text-grey-op60: rgba(255, 255, 255, 0.6);
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.portfolio .container {
  padding-top: 100px;
  padding-bottom: 94px;
}

.portfolio-button {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-button > li {
  margin-right: 8px;
}

.portfolio-button > li:last-child {
  margin-right: 0;
}

.btn-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hdr-text-black);
  background-color: var(--bg-sect-white);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.btn-title:hover,
.btn-title:focus,
.btn-title:active {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  /* outline: none; */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* examples  */

.examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.examples li {
  flex-basis: calc (100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;

  /* outline: 1px solid rgba(238, 238, 238, 1); */
}

/* .examples li:hover,
.examples li:focus {
  transform: translateY(0);
} */

.examples-link {
  display: block;
  outline: 1px solid rgba(238, 238, 238, 1);
  transition: box-shadow 250ms var(--timing-function);
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples .pretitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--hdr-text-black);
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}

.examples-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-grey);
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

/* без использвания доп дива , создаем див и p тоже блочный */

.examples-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white);
  padding: 63px 24px;
}

.examples-link:hover .overlay-text,
.examples-link:focus .overlay-text {
  transform: translateY(0);
}

/* c использованием доп класса */

/* .examples-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
     
  
} */

/* .examples-link:hover .examples-overlay,
.examples-link:focus .examples-overlay {
  transform: translateY(0);
} */
